/* Aplicando a fonte Poppins em toda a página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilizando o título h1 para ficar centralizado no topo da página */
h1 {
    text-align: center;
    color: #333;
    margin-top: 40px;
    margin-bottom: 60px;
}

/* Estilizando o conteúdo da página para ficar centralizado, separado do h1 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilizando as tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
}

thead th {
    background-color: #6a1b9a;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

tbody tr {
    background-color: white;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

tbody tr:last-child {
    border-bottom: none;
}

td {
    padding: 15px;
    text-align: center;
}

/* Botões edit e delete */
button {
    background-color: #7e57c2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5e35b1;
}

/* Links dentro dos botões */
a {
    color: rgb(167, 167, 167);
    text-decoration: none;
}

/* Formulário de busca */
label{
    margin: 7px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

select, input[type="date"], input[type="time"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
    button {
        padding: 5px 10px;
    }
}
